* {
  box-sizing: border-box;
}

body {
  font: 14px/20px 'Lato', Arial, sans-serif;
  background-color: #3c7b84;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding-bottom: 0;
  margin-bottom: 0;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 20px;
  justify-content: center;
}

.input-text {
  width: 180px;
  padding: 20px 10px 10px;
  font-size: 1.5em;
  color: #ffffff;
  letter-spacing: 00.05em;
  pointer-events: none;
}

#search-box {
  width: 100%;
  padding: 20px 10px 10px;
  background: #aecced;
  outline: none;
  box-shadow: none;
  border-color: #212121;
  border-radius: 5px;
  color: #010102;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

/* Style for Country BOX */

.country-info {
  display: flex;
  justify-content: flex-start;
  min-width: 300px;
  margin-top: 40px;
  background-color: #e9f1f8a2;
}

.country-box-list {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.country-box-list li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}

.country-box-name {
  margin: 0;
  text-align: center;
}

.coutry-box-span {
  font-weight: 700;
  margin-right: 5px;
}

.country-box-top {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Стилі для списку пошуку */

.country-list {
  padding-left: 0px;
  list-style: none;
}

.country-list img {
  width: 40px;
}

.country-list li {
  font-weight: 700;
  font-size: 12px;

  background-color: #e9f1f863;
  padding: 10px;
}
